* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 220px;
  min-height: 100vh;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edb4f8;
  height: 130px;
}

.logo {
  height: 130px;
  width: 130px;
  margin-left: 100px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 3rem;
  margin-right: 100px;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.nav-list li a:hover {
  text-decoration: none;
  color: #edb4f8;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  transition: 0.2s;
}

.abrir-menu,
.cerrar-menu {
  display: none;
  color: white;
}

/* SLIDER */
.carousel {
  top: 30px;
  width: 100vw;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}

.carousel-item img {
  border-radius: 15px;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  object-fit: fill;
}

/* REDES SOCIALES */
.redes-sociales {
  padding-left: 5%;
  font-size: 18px;
  margin-top: 50px;
  flex-direction: end;
}
.redes-sociales img {
  display: flex;
  height: 30px;
  display: inline;
}
.redes-sociales h4 {
  font-size: 15px;
}
.redes-sociales a {
  margin: 0 5px;
}

/* PIE DE PAGINA  */
.piedepagina {
  background-color: #edb4f8;
  width: 100%;
  bottom: 0;
  text-align: center;
  display: block;
  align-items: center;
  position: absolute;
}
.piedepagina img {
  height: 100px;
}

.copyright {
  color: #f7f6da;
}

/* BOTON FLOTANTE */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

@media screen and (max-width: 1300px) {

  body {
    position: relative;
    padding-bottom: 200px;
    min-height: 100vh;
  }
   /* HEADER */
header {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edb4f8;
}

.logo {
  height: 400px;
  width: 400px;
  margin-left: 100px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 3rem;
  margin-right: 50px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 50px;
}

.nav-list li a:hover {
  text-decoration: none;
  color: #edb4f8;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  transition: .2s;
}

  .abrir-menu,
  .cerrar-menu {
      display: block;
      margin-right: 30px;
      border: 0;
      font-size: 1.5rem;
      background-color: transparent;
      cursor: pointer;
  }

  .abrir-menu {
      color: white;
      font-size: 80px;
      margin-left: 100px;
  }

  .cerrar-menu {
      color: #ececec;
      font-size: 80px;
  }

  .nav {
    z-index: 100;
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #1c1c1c;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
      transition: .5s;
  }

  .nav.visible {
      opacity: 1;
      visibility: visible;
  }
  
  .nav-list {
      flex-direction: column;
      align-items: end;
  }

  .nav-list li a {
      color: #ecececec;
      font-size: 50px;
  }


  /* SLIDER */
.carousel {
  top: 30px;
  width: 100vw;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;

}

.carousel-item img {
  margin-top: 50px;
  justify-content: center;
  height: 1000px;
  border-radius: 15px;
  margin: 0 auto;
  width: 100%;
}


 /* BOTON FLOTANTE */
 .float{
  position:fixed;
  width:200px;
  height:200px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50%;
  text-align:center;
  font-size: 100px;
  z-index:100;
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color:#fff;
  border: none;
}

.my-float{
  margin-top:47px;
  font-size: 80px;
}



/* PIE DE PAGINA  */
.piedepagina {
  margin-top: 50px;
  bottom: 0;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #edb4f8;
  text-align: center;
  position: absolute;
  height: 200px;
  margin-top: 20px;
}
.piedepagina img {
  justify-items: center;
  flex-direction: center;
  height: 150px;
}

.copyright {
  color: #f7f6da;
  font-size: 30px;
}

}


/*# sourceMappingURL=index.css.map */
