//VARIABLES 
$color-principal: #edb4f8;
$color-hover: rgb(117, 117, 117);
$ubicacion: center;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 200px;
  min-height: 100vh;
}

/* HEADER */
header {
  display: flex;
  align-items: $ubicacion;
  justify-content: space-between;
  background-color: $color-principal;
  height: 130px;
}

.logo {
  height:130px;
  width: 130px;
  margin-left:100px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 3rem;
  margin-right:100px;

  li a {
    text-decoration: none;
    color: white;
  }

  li a:hover {
    text-decoration: none;
    color: $color-principal;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    transition: .2s;
  }
}

.abrir-menu,
.cerrar-menu {
  display: none;
  color: white;
}


/* NOSOTROS */
.nosotros-texto {
  text-align: $ubicacion;
  margin-top: 30px;
  font-family: 'Roboto';

  p {
    align-items: $ubicacion;
    margin: 0 auto;
    width: 800px;
    text-align: $ubicacion;
    background-color: #fffbca;
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
    border-color: 1px solid black;
  }
}


/* PIE DE PAGINA  */
.piedepagina {
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  display: block;
  justify-content: $ubicacion;
  align-items: $ubicacion;
  background-color: $color-principal;
  text-align: $ubicacion;
  position: absolute;
  width: 100%;
  height: 150px;

  img {
    height: 100px;
  }
}


.copyright {
  color: #f7f6da;
}


/* BOTON FLOTANTE */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:$ubicacion;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}


@media screen and (max-width: 1300px) {
  
  /* HEADER */
header {
  height: 400px;
  display: flex;
  align-items: $ubicacion;
  justify-content: space-between;
  background-color: $color-principal;
}

.logo {
  height: 400px;
  width: 400px;
  max-width: 400px;
  margin-left: 100px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 3rem;
  margin-right: 50px;

  li a {
    text-decoration: none;
    color: white;
    font-size: 35px;
  }

  li a:hover {
    text-decoration: none;
    color: $color-principal;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    transition: .2s;
  }
}


  .abrir-menu,
  .cerrar-menu {
      display: block;
      margin-right: 30px;
      border: 0;
      font-size: 1.25rem;
      background-color: transparent;
      cursor: pointer;
  }

  .abrir-menu {
      color: white;
      font-size: 80px;
      margin-left: 100px;
  }

  .cerrar-menu {
      color: #ececec;
      font-size: 80px;
  }

  .nav {
    z-index: 100;
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #1c1c1c;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
      transition: .5s;
  }

  .nav.visible {
      opacity: 1;
      visibility: visible;
  }
  
  .nav-list {
      flex-direction: column;
      align-items: end;

      li a {
        color: #ecececec;
        font-size: 50px;
    }
  }


  .btn-wsp{
    width:120px;
    height:120px;
    line-height: 66px;
}

/* NOSOTROS */
.nosotros-texto {
  text-align: $ubicacion;
  margin-top: 30px;
  font-family: 'Roboto';

  p {
    justify-items: $ubicacion;
    align-items: $ubicacion;
    margin: 0 auto;
    width: 900px;
    text-align: $ubicacion;
    background-color: #fffbca;
    padding: 10px;
    border-radius: 20px;
    font-size: 65px;
  }
}

.nosotros {
  justify-content: $ubicacion;
  text-align: $ubicacion;
  font-size: 100px;
}


 /* BOTON FLOTANTE */
 .float{
  position:fixed;
  width:200px;
  height:200px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50%;
  text-align: $ubicacion;
  font-size: 100px;
  z-index:100;
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color:#fff;
  border: none;
}

.my-float{
  margin-top:47px;
  font-size: 80px;
}



/* PIE DE PAGINA  */
.piedepagina {
  margin-top: 50px;
  bottom: 0;
  width: 100%;
  display: block;
  justify-content: $ubicacion;
  align-items: $ubicacion;
  background-color: #edb4f8;
  text-align: $ubicacion;
  position: absolute;
  height: 200px;
  margin-top: 20px;

  img {
    justify-items: $ubicacion;
    flex-direction: $ubicacion;
    height: 150px;
  }
}


.copyright {
  color: #f7f6da;
  font-size: 30px;
}

}



  /*# sourceMappingURL=nosotros.css.map */
  